.topHeader{
  height: 80px;
  padding: 10px 20px;
  background-color: #fff;
}

.topHeader > div {
   height: 100%;
}

.topHeader  img {
  max-height: 100%;
  width:auto;
}
.topHeader> div >  div, .topHeader> div > div > div{ padding: 12px; }



.face {
  font-size: 50px;
  color: #F44336;
  margin-top: 10px;
}

.marginTop { margin-top: 20px;}

.controlledUserName{ padding: 8px 8px 6px 8px;
  border: 1px solid #f44336; }


.rotaded{ transition: 0.6s ease-in-out all; transform: rotate(0deg) rotate(1deg); }
.isOpen .material-icons{ transform:   rotate(180deg);  }

.sticky{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  position: fixed;
  top: 0;
 // right:0;
  height:100px !important;
  z-index:1000;
}

.right-pos {
  right: 200px;
}

@media screen and (max-width: 1400px) {
  .right-pos {
    right: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .right-pos {
    right: 30px;
  }
}

@media screen and (max-width: 860px) {
  .right-pos {
    right: 0;
  }
}

.balance {
  color: black;
  font-size: 12px;
  font-style: italic;
  padding-top: 10px;
}
.minWidth { min-width:94px; }
.paddRight { padding-right:20px !important; }
.link { cursor: pointer; }
.removed{ display: none;}
.padRight { padding-right:25px; }

.gearShow{ position: relative;}
 
.gearShow:hover > .gear{     
  opacity: 1;
}

.gear{ 
  transition: all 0.5s ease;
  opacity: 0;
  position: absolute;
  right:12px;
  padding:4px 0px 0px 0px!important;
  color:#f44336;
  animation: rotating 3s linear infinite;
  
}

@keyframes rotating {
  from { 
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}