.background{
  background-image: url("/assets/img/Login-Bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.register{
  background-color: white;
  width: 404px;
  padding: 15px 10px 10px 10px;
  text-align: center;

}
.submitBtn{
  width: 340px;
  height: 40px;
  margin-top: 29px;
}
.signBtn{
  width: 50%;
}
input{
  width: 340px;
  height: 17px;
}
.spinner{
  position: absolute;
  margin-left: 1%;
  margin-top: 10%;
}
.text{
  background:rgba(255,255,255,0.7);
  padding:35px;
  text-align:center;
  width: 175px;
}
.text p{
  font-family:arial;
  text-align:center;
  font-size:18px;
  font-weight:normal;
  color:#777;
}
a{
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
a:hover{
  color:#FF5B57;
}
.links{
  margin-top:20px;
}
.signIn{
  margin-top: 40px;
}
