<md-grid-list cols="8" rowHeight="100px">
  <md-grid-tile class="left-no-pad" colspan="4" rowspan="1">
    <h2>Holidays</h2>
  </md-grid-tile>
  <md-grid-tile class="right-no-pad" colspan="4" rowspan="1">
    <app-admin-nav></app-admin-nav>
  </md-grid-tile>
</md-grid-list>
 
<div class="fullLayer" *ngIf="showLoadSpinner">
    <md-spinner class="centered" color="accent"></md-spinner>
</div>

<!-- <md-card>
  <md-datepicker #picker1></md-datepicker>


  <input mdInput [mdDatepicker]="picker" placeholder="Choose a year">
  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
  <md-datepicker #picker></md-datepicker>

</md-card> -->

<md-card>
   
    <div class="is-flex yearNav">
      <h2>{{viewYear.getValue() | date:"y"}}</h2> 
      <button md-icon-button (click)="prevYear()" >  <i class="material-icons md-48">keyboard_arrow_up</i> </button> 
      <button md-icon-button (click)="nextYear()">  <i class="material-icons md-48">keyboard_arrow_down</i></button>
  </div>
</md-card>

<md-card>
  <div class="is-flex year-calendar">
  <div *ngFor="let yearMonth of yearMonths" > 
    <div class="headerText">{{yearMonth | date:"MMMM"}}</div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        [viewDate]="yearMonth" 
        [cellTemplate]="calCellTemplate"
        [locale]="locale"
        >
      </mwl-calendar-month-view>
    </div>
  </div>
  </div>
 </md-card> 



   <ng-template #calCellTemplate let-day="day" let-locale="locale">
      <ng-container>
        <app-calendar-day [day]=day.date ></app-calendar-day>
      </ng-container>
  </ng-template>