// .divider {
//   border-bottom: 1px solid #F44336;
// }

.heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 1px solid #F44336;
  padding: 30px;
}

mat-card {
  margin-bottom: 50px;
}

.card-pad {
  padding: 30px;
}

