<md-grid-list cols="8" rowHeight="30px" class= "adm-header">
  <md-grid-tile colspan="4" rowspan="1" class="left-no-pad">
    <div class="adm-header-title">
      Welcome administrator!
    </div>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2" class="right-no-pad">
    <app-admin-nav></app-admin-nav>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1" class="left-no-pad create-user">
    Create or view users...

  </md-grid-tile>
</md-grid-list>

<!--Create User Form-->
<md-card *ngIf=!externalAuth>
  <form novalidate [formGroup]="userGroup" autocomplete="off">
    <md-grid-list cols="6" rowHeight="55px">
      <md-grid-tile colspan="6">
        <md-radio-group formControlName="role" class="radio">
          <md-radio-button value="hungry" checked="checked"> User is hungry</md-radio-button>
          <md-radio-button value="chef"> User is a Chef</md-radio-button>
          <md-radio-button value="admin"> User is an admin</md-radio-button>
        </md-radio-group>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <md-form-field>
          <input mdInput type="text" placeholder="First name" formControlName="firstName">
          <md-error *ngIf="userGroup.get('firstName').touched && userGroup.get('firstName').hasError('required')">
            First Name is required
          </md-error>
          <md-error *ngIf="userGroup.get('firstName').touched && userGroup.get('firstName').hasError('minlength')">
            Minimum of 2 characters
          </md-error>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <md-form-field>
          <input mdInput type="text" placeholder="Last name" formControlName="lastName">
          <md-error *ngIf="userGroup.get('lastName').touched && userGroup.get('lastName').hasError('required')">
            Last Name is required
          </md-error>
          <md-error *ngIf="userGroup.get('lastName').touched && userGroup.get('lastName').hasError('minlength')">
            Minimum of 2 characters
          </md-error>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <md-form-field class="input-med-width">
          <input mdInput type="email" placeholder="User email address" formControlName="email">
          <md-error *ngIf="userGroup.get('email').hasError('required') && userGroup.get('email').touched">
            Email is required
          </md-error>
          <md-error *ngIf="userGroup.get('email').hasError('pattern') && userGroup.get('email').touched">
            Email is not valid
          </md-error>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <md-form-field>

          <input mdInput type="password" placeholder="Password" formControlName="password" (keyup)="onPasswordChange()">

          <md-hint *ngIf="userGroup.get('password').value===null || userGroup.get('password').value.length<6 ">Password should be at least 6 characters (space not allowed) </md-hint>

          <md-error *ngIf="userGroup.get('password').hasError('required') && userGroup.get('password').touched">
            Password is required
          </md-error>

          <md-error *ngIf="userGroup.get('password').hasError('pattern') && userGroup.get('password').touched">
            Password shoud be at least 6 characters (space not allowed)
          </md-error>

        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <md-form-field>
          <input mdInput type="password" placeholder="Confirm Password" formControlName="confirm">
          <md-error *ngIf="userGroup.get('confirm').hasError('required') && userGroup.get('confirm').touched">
            Password Confirming is required
          </md-error>

          <md-error *ngIf="userGroup.get('confirm').hasError('pattern') && userGroup.get('confirm').touched">
            Password should be at least 6 characters (space not allowed)
          </md-error>

          <md-error *ngIf="userGroup.get('confirm').hasError('confirmError') && userGroup.get('confirm').touched">
            Password and confirm do not match
          </md-error>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile colspan="2" rowspan="2">
        <button md-raised-button color="accent" type="button" (click)="createUser()" [disabled]="userGroup.invalid || showSpinner">Create user</button>
        <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
      </md-grid-tile>
    </md-grid-list>
  </form>
</md-card>

<div>
  <div class="adm-user-list">User List</div>
</div>

<md-grid-list cols="18" rowHeight="80px">
  <md-grid-tile colspan="3" class="left-no-pad">
    <md-select [ngModel]="pageSize" (ngModelChange)="changePageSize($event)" placeholder="Show" name="show">
      <md-option *ngFor="let pageSizeOption of pageSizes" [value]="pageSizeOption.value">
        {{ pageSizeOption.viewValue }}
      </md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile colspan="3" class="left-no-pad">
    <md-select [ngModel]="orderBy" (ngModelChange)="changeOrderBy($event)" placeholder="Order by" name="order" class="largerSelect">
      <md-option *ngFor="let orderByOption of orderByOptions" [value]="orderByOption.value">
        {{ orderByOption.viewValue }}
      </md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile colspan="2" class="direction-title left-no-pad">
    <div>
      <div class="direction">Desc</div>
      <div>
        <button md-icon-button [ngClass]="{current:direction === 'DESC'}" color="accent" (click)="changeDirection('DESC')" [disabled]="direction === 'DESC'"><i class="material-icons">arrow_downward</i></button>
      </div>
    </div>
    <div>
      <div class="direction">Asc</div>
      <div>
        <button md-icon-button [ngClass]="{current:direction === 'ASC'}" color="accent" (click)="changeDirection('ASC')" [disabled]="direction === 'ASC'"><i class="material-icons">arrow_upward</i></button>
      </div>
    </div>
  </md-grid-tile>
  <md-grid-tile colspan="10" class="right-no-pad">
    <app-pagination (changePage)="handlechangePage($event)" [totalItems]="totalUsers" [currentPage]="page" [pageSize]="pageSize"></app-pagination>
  </md-grid-tile>
</md-grid-list>

<md-card class="user-card" *ngFor="let user of getUsers()">
  <app-admin-user [user]=user [externalAuth]=externalAuth (userDeleted)="handleDeletedUser($event)"></app-admin-user>
</md-card>

<md-grid-list *ngIf="showLoadSpinner" cols="1" rowHeight="200px">
  <md-grid-tile>
    <md-spinner class="centered" color="accent"></md-spinner>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="8" rowHeight="50px">
  <md-grid-tile colspan="8" class="right-no-pad">
    <app-pagination (changePage)="handlechangePage($event)" [totalItems]="totalUsers" [currentPage]="page" [pageSize]="pageSize"></app-pagination>
  </md-grid-tile>
</md-grid-list>
