.example-form {
  width: 500px;
}

.full-width {
  width: 100%;
}

.left-position {
  width: 50%;
  margin-right: 50%;
}


.margin-bottom {    margin-bottom: 20px;}
// .border {
//   border-style: solid;
//   border-width: medium;
//   border-color: gainsboro;
// }

 .smallPaddingBottom{    padding-bottom: 11px; }

