.example-form {
  width: 500px;
}

.full-width {
  width: 100%;
}

.left-position {
  width: 50%;
  margin-right: 50%;
}

 .smallPaddingBottom{    padding-bottom: 11px; }

 .is-flex-centered-col{ display: flex; flex-direction: column; align-items: center;}
 .padBottom{ padding-bottom: 15px;}
