

    <button md-raised-button color="accent" routerLink="/hungry" [queryParams]="getQueryParams()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive  #rlaHungry="routerLinkActive" [disabled]='rlaHungry.isActive' routerLinkActive="active"><i class="material-icons">home</i></button>

    <button md-raised-button color="accent" [queryParams]="getQueryParams()" routerLink="/hungry/history" routerLinkActive  #rlaHungryHistory="routerLinkActive" [disabled]='rlaHungryHistory.isActive' routerLinkActive="active">Order History</button>


