form {
  padding:20px;
}
label {
   display:block;
}
md-select{
  background-color: white;
}
hr{
  border-top: 1px solid red;
}
.globalSettings{
  margin-top: 20px;
  border: 2px solid #CECECE;
  border-radius: 5px;
}
.deadlineTime{
  width: 150px;
  border: 2px solid #CECECE;
}
.deadlineDays{
  width: 100px;
  // height: 18px;
  padding-top: 4px;
  border: 2px solid #CECECE;
}
.deadlineCurrency{
  width: 200px;
  border: 2px solid #CECECE;
}
.textareas{
  width:70%;
}
.area{
  margin-top: 3%;
}
h3{
  margin-top: 0;
}
.cancel{
  background-color: #D7D7D7;
  margin-left: 5px;
}
.cancel:hover{
  background-color: #F44336;
}
