<mat-grid-list cols="8" rowHeight="100px">
  <mat-grid-tile class="left-no-pad" colspan="4" rowspan="1">
    <h2>Global Settings</h2>
  </mat-grid-tile>
  <mat-grid-tile class="right-no-pad" colspan="4" rowspan="1">
    <app-admin-nav></app-admin-nav>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list *ngIf="showLoadSpinner" cols="1" rowHeight="200px">
  <mat-grid-tile>
    <mat-spinner class="centered" color="accent"></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf='gss' class="globalSettings">
  <form #gssForm="ngForm" (ngSubmit)="save(gssForm)" class="form" autocomplete="off">
    <h3>Set global settings</h3>
    <span layout="row">
      <hr flex/>
    </span>
    <mat-grid-list cols="1" rowHeight="50">
      <mat-grid-tile class="right" colspan="1" rowspan="1">
        <button mat-raised-button type="submit" color='accent' [disabled]="showSpinner">Save Changes</button>
        <button mat-raised-button class="cancel" (click)="cancel()" color='accent' [disabled]="showSpinner">Cancel</button>
        <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
      </mat-grid-tile>
    </mat-grid-list>
    <div class="textareas">
      <mat-grid-list cols="11" rowHeight="40px" class="heading">
        <mat-grid-tile class="left-no-pad" colspan="2" rowspan="1">
          <label for="deadline">Time of last order</label>
        </mat-grid-tile>
        <mat-grid-tile class="left-no-pad" colspan="3" rowspan="1">
          <label for="deadlineDays">Days before Daily Menu</label>
        </mat-grid-tile>
        <mat-grid-tile class="left-no-pad" colspan="3" rowspan="1">
          <label for="reportEmail">Order summary email report</label>
        </mat-grid-tile>
        <mat-grid-tile class="right-no-pad" colspan="3" rowspan="1">
          <label for="currency">Active currency</label>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="11" rowHeight="25px">
        <mat-grid-tile class="left-no-pad" colspan="2" rowspan="2">
          <input class="deadlineTime" type="time" name="deadline" [(ngModel)]="gss.deadline">
        </mat-grid-tile>
        <mat-grid-tile class="left-no-pad" colspan="3" rowspan="2">
          <input class="deadlineDays" type="number" min="0" name="deadlineDays" [(ngModel)]="gss.deadlineDays">
        </mat-grid-tile>
        <mat-grid-tile class="left-no-pad" colspan="3" rowspan="2">
          <input class="reportEmail" type="text" name="reportEmail" [(ngModel)]="gss.reportEmail">
        </mat-grid-tile>
        <mat-grid-tile class="right-no-pad" colspan="3" rowspan="2">
          <mat-form-field class="deadlineCurrency">
            <mat-select class="" [(ngModel)]="gss.currency" name="currency">
              <mat-option *ngFor="let currency of currencyList" [value]='currency.symbol' [innerHtml]="currency.name"> </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <div>
        <div class="headerText">Holidays</div>
        <button mat-raised-button color="accent" routerLink="holidays" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive
          routerLinkActive="active">Set bank Holidays</button>
      </div>

      <div>
        <div class="headerText">Working days</div>
        <mat-button-toggle-group name="checkbox" #matButtongroup="matButtonToggleGroup" multiple>
          <mat-button-toggle *ngFor="let wDay of availableWorkingDays;" [value]="wDay.value" [checked]="workingDays.includes(wDay.value)"
            (change)="wDaysChanged($event)">
            <span>{{wDay.name}}</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <!-- <div class="example-selected-value">Selected value: {{matButtongroup.value}}</div> -->
      </div>

      <div class="area  heading">
        <label for="notes" class="heading">Notes</label>
        <textarea htmlEditor [(ngModel)]="gss.notes" rows="20" cols="100" name="notes"></textarea>
      </div>
      <div class="area">
        <label for="tos" class="heading">Terms of service</label>
        <textarea htmlEditor [(ngModel)]="gss.tos" rows="20" cols="100" name="tos"></textarea>
      </div>
      <div class="area ">
        <label for="policy" class="heading">Privacy Policy</label>
        <textarea htmlEditor [(ngModel)]="gss.policy" rows="20" cols="100" name="policy"></textarea>
      </div>
    </div>
    <mat-grid-list cols="1" rowHeight="50">
      <mat-grid-tile class="right" colspan="1" rowspan="1">
        <button mat-raised-button type="submit" color='accent' [disabled]="showSpinner">Save Changes</button>
        <button mat-raised-button class="cancel" (click)="cancel()" color='accent' [disabled]="showSpinner">Cancel</button>
        <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
