.background{
  background-image: url("/assets/img/Login-Bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.login{
  background-color: white;
  width: 341px;
  // height: 490px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.relative{ position: relative;}

.loginButton{ 
  padding: 0 85px;
  height: 50px;
  margin-top: 5px;
}
input{
  // width: 270px;
  height: 50px;
}
a{
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
.spinner{
  position: absolute;
  width: 21px;
  right: 21px;
  top: 20px;
}
.links{
  margin-top:20px;
}
.text{  
  background:rgba(255,255,255,0.7);
  padding:30px;
  text-align:center;
  width: 280px;
}
.text p{
  font-family:arial;
  text-align:center;
  font-size:18px;
  font-weight:normal;
  color:#777;
  line-height: 140%;
}
a:hover{
  color:#FF5B57;
}

.fullScreen { min-width:100%; min-height:100%; background-color: rgba(0,0,0,0.5); }
.dialog-sizes .login{
  position:initial;
  background-color: white;
  width: 341px;
  height: 490px;
  padding: 0;
  margin:20px 0 0 0;
  text-align: center;
}