.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.bgColor{
  background-color: #F2F2F2;
  // padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.pad{
  padding: 7px;
}
.quantity{
  background-color: #F44336;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 44%;
  width: 35px ;
}
.total{
  border-top: 2px solid #F44336;
}
