<div class="inline">
  <div class="is-flex">

    <!--<span class="navMonth fixedWidth">{{  getMonthStr() }} </span>-->
    <span class="navMonth fixedWidth">{{  viewDate | date:'MMMM '  }} </span>
    <span class="navMonth paddLeft">{{  viewDate | date:'y'  }} </span>
    <div>
      <button md-icon-button (click)="monthBefore()" >  <i class="material-icons md-48">keyboard_arrow_up</i> </button>
      <!--<button md-icon-button (click)="monthThis()">  <i class="material-icons md-48">clear_all</i></button>-->
      <button md-icon-button (click)="monthNext()">  <i class="material-icons md-48">keyboard_arrow_down</i></button>
    </div>
  </div>
</div>
