/* You can add global styles to this file, and also import other style files */

// Import theming functions
//@import '~@angular/material/theming';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~angular-calendar/dist/css/angular-calendar.css';
@import './assets/style.css';



// Colors:

$semiBlack : #1B1B1B;
$black: #000;
$white: #fff;

$primary: #ff5b57;

html { overflow-y: scroll; }
html, body{margin:0; padding:0;  font-family: Arial,   sans-serif;}
.heading {
  font-family: 'Roboto Slab', serif;
}

.mat-button-toggle, .mat-card,.mat-button, .mat-raised-button, .mat-icon-button, .mat-fab, .mat-mini-fab {
  font-family: Arial,   sans-serif!important;
}

.main {
  font-family: Arial,   sans-serif;;
  padding: 0 200px;
  min-width: 890px;
}
h1,h2,h3, .headerText, .cal-month-view .cal-header .cal-cell {  font-family: 'Roboto Slab Bold', 'Roboto Slab Regular', 'Roboto Slab', serif; }
.navMonth{
  font-family: 'Roboto Slab Bold', 'Roboto Slab Regular', 'Roboto Slab', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: $semiBlack;
}

.min-sizes{
  min-width: 900px;
  min-height: 700px;
}

.fixedWidth{     min-width: 145px; display: inline-block; }

 /* Rules for sizing the icon. */
.material-icons.mat-18 { font-size: 18px; }
.material-icons.mat-24 { font-size: 24px; }
.material-icons.mat-36 { font-size: 36px; }
.material-icons.mat-48 { font-size: 48px; }

.material-icons.mat-48 {
    left: -4px;
    top: 11px;
    position: absolute;
}

/* Rules for using icons as black on a light background. */
.material-icons.mat-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.mat-dark.mat-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.mat-dark.mat-invert { color: $white; background-color: $black;}

/* Rules for using icons as white on a dark background. */
.material-icons.mat-light { color: $white; }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

.is-flex {display: flex; align-items: center; justify-content: space-between; }
.is-flex-space {display: flex; align-items: center; justify-content:space-around;}
.is-flex-column { display: flex; flex-direction: column;}
.alignBottom .mat-figure{display: flex; align-items: flex-end !important;   }
.alignBottom{ padding-top: 15px; }

.inline { display: inline-block; vertical-align: middle;}
.smallPad{ padding:5px;}
.smallSidePad{ padding: 0 10px;}
.width100 { width:100%; }
.noResize{
  resize: none!important;
}

.noMarginInput  .mat-input-wrapper { margin: 20px 0 20px 0 !important; }



.success-snack-bar {
  background-color: #4CAF50 !important;
}

.warning-snack-bar {
  background-color: #ff9800 !important;
}

.error-snack-bar {
  background-color: #F44336 !important;
}

.mat-simple-snackbar-action {
  color: white !important;
  font-weight: bold !important;
}

.dialog-content-size {
  height: '300px';
  width: '500px';
}
.centered {
   text-align: center;
}

.left > figure {
    justify-content: flex-start !important;
    padding-left: 30px !important;
}

.left-10 > figure {
  justify-content: flex-start !important;
  padding-left: 10px !important;
}

.right > figure {
    justify-content: flex-end !important;
    padding-right: 30px !important;
}

.right-10 > figure {
  justify-content: flex-end !important;
  padding-right: 10px !important;
}

.left-no-pad > figure {
    justify-content: flex-start !important;
}

.right-no-pad > figure {
    justify-content: flex-end !important;
}

.bold{ font-weight: 600;}

//calendar
.cal-month-view .cal-day-number {
  float:left !important;
  margin-right: auto!important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.cal-month-view .cal-cell-top {  min-height: 35px !important; flex: 0 !important; }
.year-calendar .cal-month-view .cal-day-cell {
    min-height: auto!important;
        padding: 4px;
    display: flex;
    align-items: center;

    &.cal-today .cal-day-number {
        font-size: 1.2em;
        color: #000000;
    }
}

.mat-card-footer{ position: relative !important;}

.calendarDate{ position: relative; height:250px; width:auto;  background-color: $white; }


.foodsListItem{
    background-color: #f2f2f2;
    padding: 0 0 0 4px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
}
.foodsListItem:not(:first-child){
  margin: 2px 0 0 0;
}
.foodListItemQty{ background-color: $primary; color: $white; padding: 5px 10px;      border-radius: 0 4px 4px 0;}

.flexItemLeft { margin-right: auto!important;}
.calendarBottom {     flex: 0;
    padding: 12px 0;
    margin-bottom: 5px;
}
.flexGrow{flex: 1;}
.flexEnd{  align-self: flex-end;}
.borderTop { border-top: 2px solid $primary;}
.fullWithInputContainer{ width:100%!important;}

.fullWithInputContainer > .mat-input-wrapper {
    margin: 0px 0 0 0 !important;
}

//ICOMOON
[class^="icon-"], [class*=" icon-"] {
    font-size: 26px;
}
.content {
  background-color: #f3f3f3;
}


@media screen and (max-width: 1400px) {
  .main {
     padding: 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
     padding: 0 30px;
  }
}

.fullLayer{
  position: absolute; min-width:100%; min-height:100%; background: rgba(247, 247, 247, 0);
  left: 0; top:0;
  display:flex; align-items: center; justify-content: center; z-index: 100;
}

button.mat-raised-button.active {
    background-color: $black !important;
    color: $white !important;
}
.img-circle {
    border-radius: 50%;
}

.smallImage{ max-height:70px!important; width:auto;   border: 4px solid $primary;}
.red { color: $primary;}

.mat-menu-content { padding:10 30px !important; }

.hidden{visibility:hidden !important;}
.relative{ position:relative; }
.absolute{ position:absolute; }
.menuDrawerButton{ position: absolute;
    height: 0; padding: 0!important;
    top: 102px;
    right: 0px;}
.menuDrawer{ max-width: 320px!important;}

.bigger-button {
  font-size: 33px !important;
}
.bold {
  font-weight: 700;
}
.cdk-overlay-dark-backdrop {
    background: rgba(255, 0, 0, 0.6) !important;
}

.headerText{ padding: 10px 0;}

.largerSelect .mat-select-trigger { min-width: 150px; }

// .mediumSelect .mat-select-trigger { min-width: 140px; }

// .smallerSelect .mat-select-trigger { min-width: 60px; }
.sm-select  { max-width: 60px; }

.sm-med-select  { max-width: 80px; }

.med-select  { max-width: 135px; }

.lg-select { max-width: 150px; }



.select-padding {
  padding-top: 20px;
}

//terms & policy css
.tabContent{ padding:10px;     max-height: 430px;}

.termsHeader{ /*height:70px;*/}
.termsContent{ height: 460px;}
.termsContent .tabGroup {max-height: 420px; overflow: auto;}
.termsDialog{
  height: 500px;
  width: 600px;
  min-width: 600px;
}

.input-med-width {
  width: 80%;
}

.input-sm-mat-width {
  width: 75% !important;
}

.input-full-width {
  width: 100% !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 60%;
  border-top: 16px solid $primary;
  width: 140px;
  height: 140px;
  margin: 20% auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


//TEMP FIX button flickering from white bg

.mat-fab, .mat-mini-fab, .mat-raised-button{
  transition: background 0s!important;
}
.deadlineCurrency .mat-form-field-infix{
  background-color: white;
  border: 2px solid #CECECE;
  padding: 5px;
}

.deadlineCurrency .mat-form-field-underline{
  height: 0;
}

.deadlineCurrency .mat-input-wrapper{
  margin: 20px 0 0 10px;
}

