.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.food-card {
   margin: 10px 0;
}

.margin-bar {
  margin: 45px 0;
}

.img-size {
  margin-top: 10px;
  height: 28px;
  width: 38px;
  -webkit-transform: rotateZ(-22deg);
}

.title-style {
  // margin-top: -15px !important;
  // margin-left: 25px;
  margin: 0;
  transform: translate(25px, 0px);
}

.buttons-style {
  margin-top: 39px !important;
  text-align: right;
}

.display-message {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header {
  padding-top:35px;
}
.relative{ position: relative; }
.hat{ position:absolute; left: 0; top:-25px; }