<!--The form where chef can edit Food items-->

<form createNewFoodItemForm (ngSubmit)="editFood(foodEditForm)" [formGroup]="foodEditForm" autocomplete="off">

  <div fxLayout="row" fxLayoutAlign="space-around start" class="margin-bar">


    <div fxFlex="20" class="align-left">
      <div fxLayout="column">
        <div>
          <mat-form-field>
            <input matInput placeholder="Food Name" type="text" formControlName="foodName" (keyup)="nameChangesAndUnique($event.target.value)">
            <mat-error *ngIf="foodEditForm.get('foodName').touched && foodEditForm.get('foodName').hasError('required')">
              Food Name is required
            </mat-error>
            <mat-error *ngIf="foodEditForm.get('foodName').touched && foodEditForm.get('foodName').hasError('minlength')">
              Minimum of 2 characters
            </mat-error>
            <mat-error *ngIf="foodEditForm.get('foodName').touched && foodEditForm.get('foodName').hasError('pattern')">
              Invalid food name
            </mat-error>
            <mat-error *ngIf="foodEditForm.get('foodName').touched && foodEditForm.get('foodName').hasError('maxlength')">
              Maximum of 100 characters
            </mat-error>
            <div *ngIf="!isNameUnique">
              <mat-error>
                This name already exists
              </mat-error>
            </div>
          </mat-form-field>
        </div>

        <div class="top-margin">
          <mat-form-field class="left-position med-select">
            <mat-select placeholder="Food Type" formControlName="foodType" (ngModelChange)="foodTypeChanges($event)">
              <mat-option *ngFor="let foodType of this.foodTypesForm" [value]='foodType'>
                {{ foodType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="foodEditForm.get('foodType').touched && foodEditForm.get('foodType').hasError('required')">
            Food Type is required
          </mat-error>
        </div>
      </div>
    </div>

    <div fxFlex="20">
      <mat-form-field class="example-full-width" (keyup)="descriptionChanges($event.target.value)">
        <textarea matInput placeholder="Description" type="text" formControlName="description" cols="40" rows="3" (keyup)="count(tweetmsg)"
          [(ngModel)]="tweetmsg" class="noResize"></textarea>
        <mat-hint>{{characterleft}} charcter(s) left</mat-hint>
        <mat-error *ngIf="foodEditForm.get('description').touched && foodEditForm.get('description').hasError('maxlength')">
          Maximum of 250 characters
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="20" class="smallLeftPad">
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price" (keyup)="priceChanges($event.target.value)">
        <mat-error *ngIf="foodEditForm.get('price').touched && foodEditForm.get('price').hasError('required')">
          Price is required
        </mat-error>
        <mat-error *ngIf="foodEditForm.get('price').touched && foodEditForm.get('price').hasError('maxlength')">
          Invalid price
        </mat-error>
        <mat-error *ngIf="foodEditForm.get('price').touched && foodEditForm.get('price').hasError('pattern')">
          Invalid price
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="20">
      <div class="align-center">
        <!--The check button-->
        <button mat-fab color='accent' [disabled]="(foodEditForm.invalid || !(isNameUnique && (foodNameChange || foodTypeChange || descriptionChange || priceChange)))"
          title="Save">
          <i class="material-icons">check</i>
        </button>
        <img *ngIf="showSpinner" src="../../../../assets/img/spinner.gif">
        <!---->
      </div>
    </div>

    <div fxFlex="20">
      <div class="align-center">
        <!--The cancel button-->
        <button type='button' mat-mini-fab color='accent' (click)='close()' title="Close">
          <i class="material-icons">close</i>
        </button>
        <!---->
      </div>
    </div>

  </div>
  <mat-card-footer>
    <mat-grid-tile-footer>
    </mat-grid-tile-footer>
  </mat-card-footer>

</form>
<!---->
