.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.food-edit-padding {
  padding-top: 3%;
}

.align-left {
  text-align: left  !important;
  margin-left: 20px;
}

.margin-bar {
   margin: 20px 0;
}

.align-center {
  text-align: center;
}

.top-margin {
    margin-top: 22px;
}
.smallLeftPad{ padding-left:15px;}
