.date {
  background-color: black;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
}
.no-menu {
  padding: 30px;
  color: #F44336;
  font-size: 18px;
  font-weight: bold;
}
.medium-size {
   font-size: 46px;
}
.right-no-pad button {
  margin-left: 5px;
}
.hungryFooter{
  background-color: white;
}
ul{
  padding-left: 1.4%;
}

.right-nav {
  float: right !important;
}

.header {
  padding-top:25px;
}
