<div class="">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <div>
      <app-month-nav *ngIf="monthDate" [(viewDate)]="monthDate" (monthViewDate)="onMonthNavView($event)"></app-month-nav>
      <app-hungry-nav></app-hungry-nav>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="previousWeek()" class="animateBlock">Previous Week</button>
      <button mat-raised-button color="accent" (click)="currentWeek()" routerLink="/hungry" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive #rlaCurrentHungry="routerLinkActive" [disabled]='rlaCurrentHungry.isActive' routerLinkActive="active"
        class="animateBlock">Current Week</button>
      <button mat-raised-button color="accent" (click)="nextWeek()" class="animateBlock">Next Week</button>
    </div>
  </div>



  <div class="animate" *ngIf="!showLoadSpinner" class="" [@flyInOut]="'in'">
    <div *ngFor="let day of weekDays" [ngClass]="{'warningUser': controlledUser}">
      <div class="animateMenu">
        <div class="dateHeader is-flex ">
          <div class="date  is-flex" [ngClass]="{'cursor': getDailyMenuComment(day)}" matTooltip='{{getDailyMenuComment(day)}}' [matTooltipPosition]="'after'">
            <div>{{formattedDay(day)}}</div>
            <i *ngIf="getDailyMenuComment(day)" class="material-icons">assignment</i>
          </div>
          <div class="is-flex stretch" *ngIf="controlledUser">
            <div class="trapezoid inline">&nbsp;</div>
            <div class="controlledUserName inline">{{controlledUser.firstName+" "+controlledUser.lastName}}</div>
          </div>
        </div>
        <mat-card>
          <div class="no-menu centered" *ngIf='!dailyMenuExists(day)'>
            <div>
              <i class="material-icons medium-size">mood_bad</i>
            </div>
            <div>
              <div> Today there is no menu prepared!</div>
              <div>Some fasting will be good for you ;)</div>
            </div>
          </div>
          <div *ngIf='dailyMenuExists(day)'>
            <app-daily-menu (dailyMenuChanges)="handleUserUpdated($event, day)" [dailyMenu]='getDailyMenu(day)' [controlledUser]="controlledUser"></app-daily-menu>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="hideUntilEndOfAnimation">
        <mat-card class="weekly-total">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlexOffset="2" fxFlex="91">
              <h2>Your weekly total</h2>
            </div>
            <div fxFlex="7">
              <h3>{{getTotalPrice() | number : '1.2-2'}}
                <span [innerHTML]="currency | async"></span>
              </h3>
            </div>
          </div>
        </mat-card>
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile colspan="1" class="right-no-pad">
          <button mat-raised-button color="accent" (click)="previousWeek()">Previous Week</button>
          <button mat-raised-button color="accent" (click)="nextWeek()">Next Week</button>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="space-between none" class="hungryFooter">
          <div>
            <div fxLayout="row">
              <div fxFlexOffset="2">
                <p>Deadline for signing-up for meal is by
                  <span class="bold" [innerHTML]="formattedDeadline(deadline | async)"></span> of
                  <span class="bold" [innerHTML]="formattedDeadlineDays(deadline | async)"></span>.</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlexOffset="2">
                <h3>Notes</h3>
              </div>
            </div>
          </div>
          <div class="notes" [innerHTML]="notes | async"></div>
        </div>
      </mat-card>
    </div>

  </div>
</div>


<div class="fullLayer" *ngIf="showLoadSpinner">
  <mat-spinner class="centered" color="accent"></mat-spinner>
</div>
