.divider {
  border-bottom: 1px solid #F44336;
}

.sec {
  padding-bottom: 10px;
}

.main-heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 30px;
}

.heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 26px;
  padding-left: 10px;
}

.heading small {
  font-family: Arial;
  // font-weight: bold;
  //font-style: italic;
  font-size: 14px;
}

.heading-right{
  padding-right: 10px;
}

mat-card {
  margin-bottom: 50px;
}

.checkboxes {
  margin: 30px;
}


