<div class="content main ">

  <app-header> </app-header>

  <mat-grid-list cols="8" rowHeight="100px" class="title">
    <mat-grid-tile colspan="4" class="main-heading left-no-pad">
      Account settings
    </mat-grid-tile>
    <mat-grid-tile colspan="4" class="right-no-pad">
      <button mat-raised-button color="accent" type="button" (click)="cancelEditing()"><i class="material-icons">home</i></button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card>
    <mat-grid-list cols="6" rowHeight="50px" class="divider">
      <mat-grid-tile colspan="3" class="left-no-pad">
        <div>
          <div class="heading">Profile details</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" class="right-no-pad">
        <div class="heading">
          You are <span *ngIf="user!=null && user.role==='ADMIN'">an </span><span *ngIf="user!=null && user.role!=='ADMIN'">a</span>
          <span *ngIf="user!=null">{{displayRole()}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <app-profile *ngIf="user" [(user)]="user" [change]="change" [admin]="false" (invalidProfileForm)="handleInvalidProfileForm($event)"
      (updateVersion)="handleUpdateVersion($event)">
    </app-profile>
    <div class="divider heading sec">
      <div *ngIf="!externalAuth || (user && user.id == 1)" class="heading">Change Password <small>(Leave it empty if you don't want to change your password)</small></div>
    </div>
    <form [formGroup]="profileGroup" autocomplete="off">
      <mat-grid-list cols="6" rowHeight="160px">

        <div *ngIf="externalAuth && user && user.id !== 1; then thenBlock else elseBlock"> </div>
        <ng-template #thenBlock>
          <mat-grid-tile colspan="4" class="left"></mat-grid-tile>
        </ng-template>
        <ng-template #elseBlock>

          <mat-grid-tile colspan="2" class="left">
            <mat-form-field>

              <input matInput type="password" placeholder="Password" formControlName="password" (keyup)="onPasswordChange()">
              <mat-hint *ngIf="profileGroup.get('password').value===null ||profileGroup.get('password').value.length<6">Password should be at least 6 characters (space not allowed) </mat-hint>
              <mat-error *ngIf="profileGroup.get('password').hasError('required') && profileGroup.get('password').touched">
                Password is required
              </mat-error>

              <mat-error *ngIf="profileGroup.get('password').hasError('pattern') && profileGroup.get('password').touched">
                Password should be at least 6 characters (space not allowed)
              </mat-error>

            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirm">
              <mat-error *ngIf="profileGroup.get('confirm').hasError('required') && profileGroup.get('confirm').touched">
                Password Confirming is required
              </mat-error>
              <mat-error *ngIf="profileGroup.get('confirm').hasError('confirmError') && profileGroup.get('confirm').touched">
                Password and confirm do not match.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </ng-template>
        <mat-grid-tile colspan="1">
          <!-- <button mat-raised-button color="accent" type="button" (click)="cancelEditing()">Cancel</button> -->
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="right">
          <button mat-raised-button color="accent" type="button" (click)="updateUser()" [disabled]="(profileGroup.invalid)||(!detectChanges())||showSpinner||invalid">Save changes</button>
          <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
  <app-balance *ngIf="user" [(user)]="user" [admin]="false">
  </app-balance>
  <app-transactions *ngIf="userId" [(userId)]="userId">
  </app-transactions>

  <app-footer></app-footer>
</div>
