.divider {
  border-bottom: 1px solid #F44336;
}

.sec {
  padding-bottom: 10px;
}

.heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 26px;
}

.heading small {
  font-family: Arial;
  // font-weight: bold;
  //font-style: italic;
  font-size: 14px;
}

md-card {
  margin-bottom: 50px;
}
