<mat-card>
  <mat-grid-list cols="8" rowHeight="100px" class="divider">
    <mat-grid-tile colspan="4" class="left">
      <div class="heading">
        <div>Balance</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" class="right">
      <div class="bold" *ngIf='user != null'> {{balance | number : '1.2-2'}}<span [innerHTML]="currency | async"></span></div>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="admin">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-pad">
      <div fxFlex="30">
        <form novalidate [formGroup]="balanceGroup" autocomplete="off">
          <mat-form-field>
            <input matInput placeholder="Amount" formControlName="amount">
            <mat-error *ngIf="balanceGroup.get('amount').touched && balanceGroup.get('amount').hasError('required')">
              Amount is required
            </mat-error>
            <mat-error *ngIf="balanceGroup.get('amount').touched && balanceGroup.get('amount').hasError('pattern')">
              Invalid amount
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div fxFlex="70">
        <button mat-raised-button color="accent" type="button" (click)="updateBalance()" [disabled]="balanceGroup.invalid || showSpinnerBalance">Add to balance</button>
        <img *ngIf="showSpinnerBalance" src="../../../assets/img/spinner.gif">
      </div>
    </div>
    <div class="amount-rules">
      In case of money return, type a negative amount.
    </div>
  </div>
</mat-card>
