.divider {
  border-bottom: 1px solid #F44336;
}

.card-pad {
  padding: 30px;
}

.amount-rules {
  font-style: italic;
  font-size: 14px;
  padding-left: 30px;
}

.heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 26px;
}

md-card {
  margin-bottom: 50px;
}
