<div class="smallSidePad calendarDate">

    <div class="cal-cell-top is-flex">
      <span class="cal-day-number flexItemLeft">{{ day | date:"d" }}</span>
      <ng-container *ngIf="menuCanBeEdited">
        <button md-icon-button color="accent" title="Discard changes" (click)="discardChanges()" [disabled]="!menuCanBeDiscarded"><i class="material-icons">cancel</i></button>
        <button md-icon-button color="accent"  title="Save"(click)="updateMenu()" [disabled]="!menuCanBeUpdated"><i class="material-icons">check</i></button>
      </ng-container>
   </div>


  <md-input-container *ngIf="menuCanBeEdited" class="smallInputContainer">
   <input type="text" mdInput ngControl="tradeSource" [formControl]="selectCtrl" [mdAutocomplete]="auto" placeholder="select food">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
   <md-option *ngFor="let food of filteredFoods | async" [value]="food"  >
     <div class="is-flex"><span [ngClass]="{'icon-Meal': food.foodType==='Main', 'icon-Salad': food.foodType==='Salad', 'icon-Drink': food.foodType==='Drink'}" > </span>
      <span>{{ food.foodName }}</span>
      </div>
   </md-option>
</md-autocomplete>


  <!--<md-select [(ngModel)]="food" #selectCtrl="ngModel" class="responsive"  *ngIf="menuCanBeEdited">
    <md-option *ngFor="let food of foodsAvailable" [value]='food' placeholder="select food" (click)="addMenuFood()">
      {{ food.foodName }}
    </md-option>
  </md-select>-->


  <div class="foodsList">
     <div *ngFor="let food of foodsSelected" class="is-flex foodsListItem">
        <button md-icon-button color="accent"  title="Delete" (click)="removeMenuFood(food)" [disabled]="false"  *ngIf="menuCanBeEdited"><i class="material-icons">cancel</i></button>
        <span [ngClass]="{'icon-Meal': food.foodType==='Main', 'icon-Salad': food.foodType==='Salad', 'icon-Drink': food.foodType==='Drink'}" > </span>
        <span class="list-text">{{food.foodName}}</span>
    </div>
  </div>

  <div class="fullLayer" *ngIf="showSpinner">
    <md-spinner class="centered" color="accent"></md-spinner>
    <!--<img  src="../../../assets/img/spinner.gif" />-->
  </div>

</div>
