.divider {
  border-bottom: 1px solid #F44336;
}

.heading {
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
  font-size: 26px;
}

.title {
  margin-bottom: 15px;
  margin-top: 15px;
}

mat-card {
  margin-bottom: 50px;
}

