<md-grid-list cols="8" rowHeight="70px" class="title">
  <md-grid-tile colspan="4" class="heading left-no-pad">
    User account settings
  </md-grid-tile>
  <md-grid-tile colspan="4" class="right-no-pad">
    <app-admin-nav></app-admin-nav>
  </md-grid-tile>
</md-grid-list>
<md-card>
  <md-grid-list cols="8" rowHeight="100px" class="divider">
    <md-grid-tile colspan="4" class="left">
      <div class="heading">
        <div>Profile details</div>
      </div>
    </md-grid-tile>
    <md-grid-tile colspan="2" class="right">
      <button md-raised-button color="accent" type="button" (click)="viewUserMenu()" >Edit user orders</button>
    </md-grid-tile>
    <md-grid-tile colspan="2" class="right">
      <app-slide-toggle-component *ngIf="user" [user]="user" [externalAuth]=externalAuth (updateVersion)="handleUpdateVersion($event)"></app-slide-toggle-component>
    </md-grid-tile>
  </md-grid-list>
  <app-profile *ngIf="user" [(user)]="user" [change]="change" [admin]="true" (invalidProfileForm)="handleInvalidProfileForm($event)"
    (updateVersion)="handleUpdateVersion($event)">
  </app-profile>
  <md-grid-list cols="8" rowHeight="80px">
    <md-grid-tile colspan="4" class="left">
      <button *ngIf="!externalAuth || (user && user.id===1)" [disabled]="user==null || !user.approved" md-raised-button color="accent" (click)="resetPwd()">Reset Password</button>
    </md-grid-tile>
    <md-grid-tile colspan="4" class="right">
      <form (ngSubmit)="updateUser(profileGroup)" [formGroup]="profileGroup" autocomplete="off">
        <button md-raised-button color="accent" type="submit" [disabled]="(profileGroup.invalid)||(!detectChanges())||showSpinner||invalid">Save changes</button>
      </form>
      <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
    </md-grid-tile>
  </md-grid-list>
</md-card>

<app-balance *ngIf="user" [(user)]="user" [admin]="true" (balanceUpdated)="handleBalanceUpdated($event)">
</app-balance>

<app-transactions *ngIf="userId" [(userId)]="userId" [update]="balanceUpdate">
</app-transactions>
