.ordersday-card {
   margin: 13px 0;
}

.style-page-buttons{
  flex: 1 2 100% !important;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  max-width: 50%;
  text-align: right;
}

.up-buttons {
  padding-top: 8% !important;
}

.down-buttons {
  padding-bottom: 100px;
}

