  <div class="fullLayer" *ngIf="!orderItems || foods.length==0">
      <md-spinner class="centered" color="accent"></md-spinner>
  </div>

<div id="container-to-print">
<h1>{{date | date:"EEEE d MMMM y" }}</h1>
  <div fxLayout="row">
    <div fxFlex="50" class="left-no-pad">

      <h3>Order Summary</h3>
    </div>
    <div fxFlex="50"  class="up-buttons no-print style-page-buttons">
      <div class="inline">
        <button md-raised-button color="accent" routerLink="/chef/orders" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive
          #rla1="routerLinkActive" [disabled]='rla1.isActive || showSpinner' routerLinkActive="active">Back to orders</button>
        <button md-raised-button color="accent" (click)="sendEmail()" [disabled]="showSpinner">Send email</button>
        <button md-raised-button color="accent" (click)="print()" [disabled]="showSpinner">Print page</button>
        <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <div *ngIf="orderItems && foods.length>0">
        <md-card class="ordersday-card">
          <app-food-item [orderItems]='orderItems'></app-food-item>
        </md-card>
        <md-card class="ordersday-card">
          <app-user-order [userOrders]='userOrders'></app-user-order>
        </md-card>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="50" class="left-no-pad">
    </div>
    <div fxFlex="50" class="bottom-buttons no-print style-page-buttons">
      <div class="inline">
        <button md-raised-button color="accent" routerLink="/chef/orders" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive
          #rla1="routerLinkActive" [disabled]='rla1.isActive || showSpinner' routerLinkActive="active">Back to orders</button>
        <button md-raised-button color="accent" (click)="sendEmail()" [disabled]="showSpinner">Send email</button>
        <button md-raised-button color="accent" (click)="print()" [disabled]="showSpinner">Print page</button>
        <img *ngIf="showSpinner" src="../../../assets/img/spinner.gif">
      </div>
    </div>
  </div>

</div>
