.smallText{
  font-size: 0.8em;
}
span:hover{
  text-decoration: underline;
  cursor:pointer;
}
.right{
  float: right;
}

.footerLink { color:#000; text-decoration: none;}
a:hover.footerLink { text-decoration: underline;}

.version{ padding: 0 20px; }