 <div fxLayout="row">
  <div fxFlex="30">
    <p><span (click)="openDialog(0)">Terms and  Conditions</span> | <span (click)="openDialog(1)">Privacy Policy</span></p>
  </div>
  <div fxFlex="70">
    <p class="right">
      &copy;<a href="http://www.jrtechnologies.com/" target="_blank" class="footerLink" >JR Technologies</a>
      2017 - <a href="https://github.com/" target="_blank"  class="footerLink">Open source GPL 3.0 on GitHub</a>
       - Developped by JRT Training Bootcamp 2017
    </p>
  </div>
 </div>
