<md-grid-list cols="14" rowHeight="50px">

  <md-grid-tile colspan="2" rowspan="2">
    <i *ngIf="!user.hasPicture" class="material-icons face">face</i>
    <img class="profile-image" *ngIf="user.hasPicture" src="{{userPicture}}" />
  </md-grid-tile>

  <md-grid-tile colspan="2" class= "bold">
    Name
  </md-grid-tile>


  <md-grid-tile colspan="2" class= "bold">
    Role
  </md-grid-tile>

  <md-grid-tile colspan="2" class= "bold">
    Registered
  </md-grid-tile>

  <md-grid-tile colspan="3" rowspan="2">

    <app-slide-toggle-component [user]="user" [externalAuth]=externalAuth></app-slide-toggle-component>

  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    <a [routerLink]="editRouterLink" routerLinkActive="active" md-fab color="accent" title="Edit user!" ><i class="material-icons">edit</i></a>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2">
    <button md-icon-button color="accent" (click)="deleteConfirm()" [disabled]="user.id===1||user.id===userId||externalAuth" title="Delete user!"><i class="material-icons bigger-button">delete_forever</i></button>
  </md-grid-tile>
  <md-grid-tile colspan="2">
    {{getUser().firstName}}
    <span class="name-divider"> </span>{{getUser().lastName}}

  </md-grid-tile>
  <md-grid-tile colspan="2">
    {{getUser().role}}
  </md-grid-tile>
  <md-grid-tile colspan="2">
    {{getUser().registrationDate}}
  </md-grid-tile>
</md-grid-list>
<!--<app-admin-user-edit>
</app-admin-user-edit>-->
