<div fxLayout="row" fxLayoutAlign="space-between center">

  <div fxFlex="10">
    <i *ngIf="!user.hasPicture" class="material-icons face">face</i>
    <img class="profile-image" *ngIf="user.hasPicture" src="{{userPicture}}" />
  </div>

  <div fxFlex="18" fxFlexAlign="baseline" fxLayout="column" fxLayoutAlign="space-between center" class="user-wrap">
    <div fxFlex="50" class="bold user-details-header">
      Name
    </div>
    <div fxFlex="50" class="user-details">
      {{getUser().firstName}} {{getUser().lastName}}
    </div>
  </div>

  <div fxFlex="5" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="bold user-details-header">
      Role
    </div>
    <div class="user-details">
      {{getUser().role}}
    </div>
  </div>

  <div fxFlex="12" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="bold user-details-header">
      Registered
    </div>
    <div class="user-details">
      {{getUser().registrationDate}}
    </div>
  </div>
  <div fxFlex="15" fxFlexAlign="baseline" fxLayout="column" fxLayoutAlign="space-between center" class="user-wrap">
    <div class="bold user-details-header">
      Email
    </div>
    <div class="user-details email">
      <a href="mailto:{{getUser().email}}">
       {{emailUserName(getUser().email)}}<span class="zero-space"> </span>{{emailDomain(getUser().email)}}
      </a>
    </div>
  </div>
  <div fxFlex="10" fxLayout="column" >
    <div class="bold user-details-header">
      Balance
    </div>
    <div class="user-details">
        {{balance | number : '1.2-2'}}<span [innerHTML]="currency | async"></span>
    </div>
  </div>

  <div fxFlex="2">
  </div>

  <div fxFlex="17">
    <app-slide-toggle-component [user]="user" [externalAuth]=externalAuth></app-slide-toggle-component>
  </div>
  <div fxFlex="7">
    <a [routerLink]="editRouterLink" routerLinkActive="active" mat-fab color="accent" title="Edit user!"><i class="material-icons">edit</i></a>
  </div>
  <div fxFlex="4">
    <button mat-icon-button color="accent" (click)="deleteConfirm()" [disabled]="user.id===1||user.id===userId||externalAuth"
      title="Delete user!"><i class="material-icons bigger-button">delete_forever</i></button>
  </div>

</div>
