.face {
  font-size: 80px;
  padding: 10px;
  color: #F44336;
}

mat-grid-tile {
  font-size: 15px;
}

.profile-image {
   border-radius: 50%;
  //  height:100%;
   max-height:100px;
   width:auto;
}
.name-divider {
  padding: 3px;
}

.user-details-header {
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
}

.user-details {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
}

.user-wrap {
  padding-top: 23px;
}

.zero-space {
  font-size: 0px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.balance {
  text-align: right;
}

.bank {
  padding-top:5px;
}

.f-right{
  float:right;
}
