<h1 matDialogTitle>The food can't be modified</h1>
<mat-dialog-content>Do you want to edit only its description or make a clone of it?</mat-dialog-content>
<mat-dialog-actions class="is-flex-space">
  <button mat-raised-button color="accent" (click)="dialogRef.close(1)">Edit description</button>
  <button mat-raised-button color="accent" (click)="dialogRef.close(2)">Clone</button>
  <button mat-raised-button color="accent" (click)="dialogRef.close(3)">Cancel</button>
</mat-dialog-actions>
