.is-flex { display: flex; align-items: center; justify-content: space-between;}

.foodsList {overflow-y: auto; max-height: 160px;  margin-top: 5px;}

 .grid-container{ 
   display: grid;
   grid-template-columns: 2fr 6fr 1fr;
   grid-template-rows: auto;
   grid-row-gap: 3px;


   -ms-grid-template-columns: 2fr 6fr 1fr;
   -ms-grid-template-rows: auto;
   -ms-grid-row-gap: 3px;
}

.grid-container .cell{
    background-color: #f2f2f2; 
    color: #333333; 
    display: flex;
    align-items: center;
    padding: 2px 4px;
}

.grid-container .cellLast{ background-color: #ff5b57!important; color:#fff!important; justify-content: flex-end; padding: 2px 8px;}