
<div class="smallSidePad calendarDate is-flex-column">
  <div class="cal-cell-top is-flex">
    <span class="cal-day-number  flexItemLeft">{{ day | date:"d" }}</span>
    <ng-container *ngIf="dailyMenuOrderChef!==undefined">
      <button mat-icon-button color="accent" routerLink='/chef/orders/daily/{{dailyMenuOrderChef.dailyMenuDate | date:"yyyy-MM-dd"}}'
        routerLinkActive="" title="View order summary"><i class="material-icons">remove_red_eye</i></button>
    </ng-container>

  </div>


  <div *ngIf="dailyMenuOrderChef!==undefined" class="flexGrow">

    <div *ngIf="dailyMenuOrderChef.orderItems.length>0" class="foodsList grid-container">

      <ng-container *ngFor="let orderItem of dailyMenuOrderChef.orderItems" class="">
        <ng-container *ngIf=" getFood(orderItem.foodId)| async; let foodItem;">
          <div  [ngClass]="{'icon-Meal': foodItem.foodType==='Main', 'icon-Salad': foodItem.foodType==='Salad', 'icon-Drink': foodItem.foodType==='Drink'}" class="cell"> </div>
          <div class=" cell"> {{ foodItem.foodName }} </div>
          <div class="  foodListItemQty cell cellLast"> {{orderItem.quantity}}</div>
        </ng-container>
      </ng-container>

    </div>

  </div>

  <div class="calendarBottom smallPad  borderTop is-flex" *ngIf="dailyMenuOrderChef!==undefined">
    <div>Total: </div>
    <div>{{calcTotal() | number:'1.2-2'}}<span [innerHTML]="currency | async"></span></div>
  </div>


</div>
