<form *ngIf="showForm && user" novalidate [formGroup]="profileGroup">
  <mat-grid-list cols="7" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="3">
      <i *ngIf="!user.hasPicture" class="material-icons face">face</i>
      <img class="profile-image" *ngIf="user.hasPicture" src="{{userPicture}}" />
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="left-no-pad">
      <div>Change picture</div>
      <button mat-icon-button color="accent" (click)="fileInput.click()">
        <i class="material-icons">add_circle</i>
      </button>
      <input #fileInput type="file" ng2FileSelect [uploader]="uploader" hidden=true/>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
      <mat-progress-bar *ngIf="progress" role="progressbar" mode="indeterminate"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile class="image-rules" colspan="{{admin?'1':'1'}}" rowspan="1">
      You have to upload an image at least 180px by 180px, jpg, .gif, or .png. Max file size 700K.
    </mat-grid-tile>
    <mat-grid-tile *ngIf="user.hasPicture" colspan="1" rowspan="1" class="left-no-pad">
      Delete picture
      <button mat-icon-button color="accent" (click)="deletePicture()">
        <i class="material-icons">delete_forever</i>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="{{admin?'9':'7'}}" rowHeight="80px">
    <mat-grid-tile *ngIf="admin && user.id !==1" [colspan]="2" class="left">
      <mat-form-field class="lg-select">
        <mat-select placeholder="User role" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="2" class="left">
      <mat-form-field class="input-sm-mat-width">
        <input matInput type="text" placeholder="First name" formControlName="firstName">


        <mat-error *ngIf="profileGroup.get('firstName').touched && profileGroup.get('firstName').hasError('required')">
          First Name is required
        </mat-error>
        <mat-error *ngIf="profileGroup.get('firstName').touched && profileGroup.get('firstName').hasError('minlength')">
          Minimum of 2 characters
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" class="left">
      <mat-form-field class="input-full-width">
        <input matInput type="text" placeholder="Last name" formControlName="lastName">

        <mat-error *ngIf="profileGroup.get('lastName').touched && profileGroup.get('lastName').hasError('required')">
          Last Name is required
        </mat-error>
        <mat-error *ngIf="profileGroup.get('lastName').touched && profileGroup.get('lastName').hasError('minlength')">
          Minimum of 2 characters
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" class="right">
      <mat-form-field class="input-sm-mat-width">
        <input matInput type="email" placeholder="Email address" formControlName="email">

        <mat-error *ngIf="profileGroup.get('email').hasError('required') && profileGroup.get('email').touched">
          Email is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</form>
