.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.bold-chars {
  font-weight: bold;
}
.user{
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px;
}
.bottom-border{
  border-bottom: 1px solid black;
  padding: 5px 0 5px 0;
}
.totalPrice{
  padding-top:25px;
  font-weight: bold;
}
