.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.bold-chars {
  font-weight: bold;
}
.user{
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px;
}
.bottom-border{
  border-bottom: 1px solid black;
  padding: 5px 0 5px 0;
}
.totalPrice{
  display: flex;
  padding:15px;
  font-weight: bold;
}
.comment{     
  font-size: 0.8em;
  font-style: italic;
  word-wrap: break-word;
  word-break: break-word;
}